@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-logo: #695e93;
        --color-primary: #5495ab;
        --color-secondary: #9ca1ce;
        --color-accent: #857abd;
        --color-text: #0c1518;
        --color-bkg: #f1f7f9;
        --tag-text: #f1f7f9;
        --tag-bkg: #0c1518;
        --tag-border: #0c1518;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-logo: #695e93;
            --color-primary: #5495ab;
            --color-secondary: #313663;
            --color-accent: #4d4285;
            --color-text: #e7f0f3;
            --color-bkg: #060c0e;
            --tag-text: #060c0e;
            --tag-bkg: #e7f0f3;
        }
    }

    :root[data-theme='dark'] {
        --color-logo: #695e93;
        --color-primary: #5495ab;
        --color-secondary: #313663;
        --color-accent: #4d4285;
        --color-text: #e7f0f3;
        --color-bkg: #060c0e;
        --tag-text: #060c0e;
        --tag-bkg: #e7f0f3;
    }
}

@layer utilities {
    .label {
        @apply rounded-2xl px-2 py-[2px] font-medium bg-tag-background text-tag-text border-tag-border;
    }

    /* .label-goodFirstIssue {
        @apply bg-label-goodFirstIssue border-label-goodFirstIssue text-label-goodFirstIssue-text;
    }

    .label-documentation {
        @apply bg-label-documentation border-label-documentation text-label-documentation-text;
    }

    .label-bug {
        @apply bg-label-bug border-label-bug text-label-bug-text;
    }

    .label-duplicate {
        @apply bg-label-duplicate border-label-duplicate text-label-duplicate-text;
    }

    .label-enhancement {
        @apply bg-label-enhancement border-label-enhancement text-label-enhancement-text;
    }

    .label-helpWanted {
        @apply bg-label-helpWanted border-label-helpWanted text-label-helpWanted-text;
    }

    .label-invalid {
        @apply bg-label-invalid border-label-invalid text-label-invalid-text;
    }

    .label-question {
        @apply bg-label-question border-label-question text-label-question-text;
    }

    .label-wontfix {
        @apply bg-label-wontfix border-label-wontfix text-label-wontfix-text;
    } */

    /* .label-misc {
        @apply bg-default border-default text-default;
    } */

    .input-style {
        @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline;
    }

    .label-style {
        @apply block text-gray-700 text-sm font-bold mb-2;
    }
}
